.body{
    font-family: sans-serif;
}
nav {
    position:fixed;
    left: 0;
    top: 0;
    margin-top: -10px;
    top:-5px;
    float: left;
    width: 13%;
    /* height: 500px;  */
    padding: 20px;
    margin-left: 16%;
    border: rgba(180, 176, 176, 0.171);
    border-style: solid;
    border-width: 0 1px 0 0;
    height: 2000px;
}
.sticky {
  /* position: sticky; */
  left: 0;
  top: 0;
  
  
}


nav a{
    position: sticky;
    text-decoration:none;
    color: black;
    font-size:20px;
    margin-top: 15px;
}

article {
    float: left;
    position: static;
    margin-top: -0.5%;
    margin-left: 31%;
    margin-right: -60px;
    /* padding: 30px; */
    width: 32%;
    background-color: #ffffffee;
    
  }

.right {
    position:fixed;
    right: 15.6%;
    float: left;
    padding: 20px;
    margin-top: -20px;
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: 500px;
    text-align: center;
    color: #000;
    border: rgba(180, 176, 176, 0.171);
    border-style: solid;
    border-width: 0 0 0 1px;
    height: 1000px;
  }  

  .search-box{
    border-radius: 55px;
    width: 75%;
    margin-left: -3.5%;
    padding-left: 60px;
    border: 2px;
    height: 44px;
    background-color: rgba(231, 241, 243, 0.61);
    background-image: url(https://www.nicepng.com/png/detail/350-3506490_search-icon-small-search-icon-small-png.png);
    background-position: 20px 16px;
    background-size: 17px; 
    background-repeat: no-repeat;
    outline-color:#3c82c4 ;
    outline-width: 1px;
    outline-offset: 2px;
  }

  .happen-box{
    background-color: rgba(231, 241, 243, 0.61);
    height: 497px;
    width: 90%;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 3%;
    border-radius: 15px;
    text-align:left;
    cursor:auto;
  }

  .trending{
    height: 80px;
    margin-top: -11px;
    margin-bottom: -19px;
    cursor: pointer;

  }
  .trending:hover{
    background-color: rgba(231, 231, 233, 0.719);
  }
  .trend_p{
    font-size:13px;
    padding-left:15px;
    padding-top: 10px;
    color: rgb(56, 54, 54);
  }
  .trend_h{
    padding-left:15px;
    padding-right:20px;
    font-size: 15px; 
    margin-bottom: -19px;
    margin-top: -9px;
    text-align: right;
  }
  .show_more{
    color: rgb(30, 148, 202);
    /* padding-left: 15px; */
    /* margin-bottom: 5px; */
    height: 50px;
    cursor: pointer;
  }
  .show_more:hover{
    background-color: rgba(231, 231, 233, 0.719);
    border-radius: 0 0 15px 15px;

  }

  .tweet-button{
    background-color:rgb(35, 154, 233);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    border: none;
    font-size: 20px;
    text-align:center;
    height: 50px;
    width: 90%;
    margin-top: 25px;
    margin-left: 6px;
    margin-right: 13px;
  }
.tweet-button:enabled:hover{
  background-color:rgb(27, 127, 194);
  cursor: pointer;

}

.icon{
  margin-top: 22px;
  margin-bottom: -2px; 
  padding-right: 17px;
}
/* .icon:hover{
  background-color: rgb(236, 233, 233);
  border-radius: 30px;
} */

div.icon_hover{
  /* margin-top: 33px;  */
  /* margin-right: 17px; */
  height: 60px;
  width:fit-content;
  padding-left: 10px;
  padding-right: 25px;

  /* padding-top: 4px; */
}
div.icon_hover a{
  padding-left: 10px;
}
div.icon_hover:hover{
  background-color: rgb(236, 233, 233);
  border-radius: 30px;
  
}

.fixed{
    position: fixed;
    bottom: 0;
    right: 5px;
    padding-left: 4px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 0 0 ;
    width: 380px;
    height: 50px;
    border:#000;
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 1px 3px 3px  rgb(179, 178, 178);

  }
  .fixed-p{
    text-align: left;
    margin-left: 7px;
  }

  .create-tweet{
    width: 100%;
    border: rgba(180, 176, 176, 0.171);
    border-style: solid;
    border-width: 0 0 1px 0;
    padding-left: 20px;
  }

  .acc-img{
    border-radius: 50%; 
    float: left;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }

  .tweet-text{
    margin-left: 60px;
    margin-top: 33px;
    color: #4d4a4aee;
    font-size: larger;
    width: 80%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    /* overflow: hidden; */
    column-count: auto;
  }

  div.show-tweet{
    border: rgba(180, 176, 176, 0.171);
    border-style: solid;
    border-width: 0 0 1px 0;
    color: rgb(30, 148, 202);
    text-align: center;
    margin-bottom: 0;
  }
  .tweet-button2 {
    background-color:rgb(35, 154, 233);
    color: rgb(255, 255, 255);
    border-radius: 25px;
    text-align:center;
    text-decoration:none;
    height: 35px;
    width: 80px;
    float: left;
    margin-top: -25px;
    margin-left: 420px;
    border: none;
    font-size: 17px;
  }
  .tweet-button2:enabled:hover{
  background-color:rgb(27, 127, 194);
  cursor: pointer;
  }
  
  .img2{
    border-radius: 100%; 
    float: left;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
  }
  

  div.profile{
    margin-top: 120%; 
    width: 100%;
    height: 60px;
    border-radius: 50px;
  }
  .profile:hover{
    background-color: rgba(206, 206, 206, 0.493);
  }

  .follow_prof{
    margin-bottom: 5px;    
      width: 100%;
      height: 60px;

    
  }
.follow_prof:hover{
    background-color: rgb(236, 236, 236);
  }

  .follow_box{
    float:right; 
    margin-top: 16px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 6px;
    font-size:14px;
    width: 23%;
    height: 33px;
    border-radius: 20px;
    border:#000;
    border-style: solid;
    border-width: 1px ;
    cursor: pointer;
    font-weight: bold;
  }
  .follow_box::before{
    content: 'Follow';
  }

.follow_box2{
  content: "Following";
  float:right; 
  margin-top: 16px;
  text-align: center;
  padding: 6px;
  font-size:14px;
  height: 33px;
  border-radius: 20px;
  cursor: pointer;

  background-color:  rgba(231, 241, 243, 0.61);
  color: #000;
  border : rgb(214, 214, 214);
  border-width : 1.5px;
  border-Style : solid;
  width : 29%;
  font-weight: bold;
 
}
.follow_box2::before{
  content: 'Following';
}

/* .follow_box2:hover span {
  display:none
} */

.follow_box2:hover {
  color: #ee0d0d;
  background-color: rgb(236, 198, 198);
}
.follow_box2:hover::before {
  content:"Unfollow";
  font-weight: bold;
}





  .my_prof_name{
    padding-top:3px; 
    padding-left:10px;
    /* padding-right: 10px; */
    font-weight: bold;
    margin-bottom: -14px;
    margin-top: 9px;
    cursor: pointer;
    /* float: left; */
  }

  .my_prof_name2{
  padding-top:3px; 
  padding-left:10px;
  font-size: 15px;
  color: #817e7e;
    /* float: left;  */
  }

  .tweet{
    /* padding: 15px; */
    width: 100%;
    border: rgba(180, 176, 176, 0.171);
    border-style: solid;
    border-width: 0 0 1px 0;
    margin-bottom: -15px;
    margin-left: -1px;
    margin-top: 0;
  }
  .tweet:hover{
    background-color: rgb(236, 233, 233);
  }
  .tweet a{
    text-decoration:none;
    font-size: 14px;
    color: #000;
  }

  .prof_name{
    font-size: 16px;
    font-weight: bold;
    margin: 13px 15px 0 2px;
    float: left;
    cursor: pointer;
  }
  .prof_name:hover{
    text-decoration: underline;
  }
  .prof_name2{
    margin-left:20px;
    margin-right: -5px;
    padding-top: 13px;
    font-size: 15px;
    color: rgb(90, 88, 88);
    
  }

  .dialog{
    width: 550px;
    height: 285px;
    border: none;
    border-radius: 20px;
    margin-top: 70px;
    overflow: auto;

  }
  /* .dialog::after{
    position: fixed;
    content:'';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */
  

  .closeBtn{
    cursor: pointer; 
    border: none; 
    background-color: white; 
    margin-bottom: 10px; 
    font-size: 29px;
    width: 32px;
    border-radius: 50%;

  }
  .closeBtn2{
    float: left;
    margin-left: -7px;
    width: 35px;
    margin-top: -8px;
  }

  .closeBtn:hover{
    background-color: #e2dddd;
  }

  .backBTN{
    background-color: #ffffff;
    float: left;
    border: none;
    margin-left: 12px;
  }
  .backBTN:hover{
    border-radius: 100%;
    background-color: #e2e2e2;
  }

  .Profile-pic{
    border-radius: 50%; 
    width: 140px;
    /* float: left; */
    position: absolute;
    top: 130px;
    left: 20px;
    border: 4px white solid;
  }
  .edit_Profile-pic{
    top: 210px;
    left: 20px;
    width: 110px;
  }

  .editBTN{
    background-color: white; 
    width: 110px; 
    margin: 5px 0 0 78%; 
    border-radius: 20px; 
    border: 1px rgb(156, 154, 154) solid; 
    padding: 8px 10px;
  }
  .editBTN:hover{
    background-color: #d4d4d4;
    cursor: pointer;
  }

  .prof-icon{
    margin-left: 22px;
    float: left;
  }
  .icon-p{
    padding: 6px;
    color: #535252;
    font-size:15px;
    margin-top: 9px;
  }

 .following-num{
  margin-left: 16.5px;
  margin-top: -4px;
  text-decoration: none;
 }
 .following-num:hover{
  text-decoration: underline;
  cursor: pointer;
 }

 .tab-list{
  margin-top: 35px;
  /* border: 0 0 1px 0 rgb(156, 154, 154) solid;  */
  height: 50px;
  width: 100%;
  border: rgba(180, 176, 176, 0.171);
  border-style: solid;
  border-width: 0 0 2px 0;
 }
 .tab{
  float: left;
  /* margin-left: 40px; */
  font-size: 15.5px;
  color: #6e6a6a;
  background-color: #ffffff;
  border: none;
  /* margin-top: 14px; */
  /* height: 36px; */
  cursor: pointer;
  width: 25%;
  height: 34px;
  text-align: center;
  padding-top: 17px;
 }
 .tab:hover{
  background-color:#dddddd;
 }
 .tweet-tab{
  /* border: blue; */
  /* border-style: solid; */
  /* border-width: 0 0 4px 0; */
  font-weight: bold;
  height: 100%;
 }
 .tab-name{
  height: 100%;
  padding-bottom: 13px;
  border: rgb(35, 154, 233);
  border-style: solid;
  border-width: 0 0 4px 0;
 }
  
 .edit_dialog{
  margin-top: px;
  width: 570px;
  height: 620px;
  border: none;
  border-radius: 20px;
 }

.saveBTN{
  float: right;
  background-color: #000;
  color: #ffffff;
  border: none;
  width: 65px;
  height: 33px;
  margin:-7px 3px 0px 0;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}
.saveBTN:hover{
  background-color: #292828;
}

.inputs_list{
  margin-top: 80px;
}

.edit_info{
  margin-top: 20px;
  /* border: #b1afaf 1px solid; */
  height: 55px;
  /* margin-left: -20px; */
  border-radius: 5px;
  padding: 4px 0 0 3px;
  outline-color:#359dff ;
}

.inputs-edit{
  width: 96%; 
  height: 20px;
  margin-top: 10px;
  margin-left: 4px;
  border: none;
  outline: none;
  font-size: large;
}

.input_name{
  color: #817d7d;
  font-size: 12.9px;
  margin: 3px 0 0 7px;
  padding-top: 2px;
}